.grid_flip_handle {
	position:absolute;
	opacity:0.3;
	right:0px;
	top:0px;
	width:20px;
	height:20px;
	z-index:10000;
}

.grid_flip_handle:hover {
	opacity:1.0;
}

.selected {
	background-color: #eee !important;
}
